<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<customErrors mode="Off" />

		<authentication mode="Forms">
			<forms defaultUrl="Login.aspx" timeout="120" />
		</authentication>

	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="tiptop.yben@gmail.com" deliveryMethod="Network">
				<network host="smtp.gmail.com" port="587" userName="tiptop.yben@gmail.com" password="0505305261"  enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
